# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
.idea/
*.ipr
*.iws

# VS Code
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Flutter specific
**/doc/api/
.flutter-versions

# Android
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/captures/
/android/local.properties
/android/**/GeneratedPluginRegistrant.java
/android/key.properties

# iOS
/ios/Flutter/.last_build_id
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Pods/
/ios/.symlinks/
/ios/Runner.xcworkspace/
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m

# macOS
/macos/Flutter/GeneratedPluginRegistrant.swift
/macos/Flutter/ephemeral/
/macos/Pods/
/macos/.symlinks/

# Windows
/windows/flutter/ephemeral/
/windows/runner/flutter_window.cpp
/windows/runner/flutter_window.h

# Linux
/linux/flutter/ephemeral/

# Web
/web/build/

# Coverage
coverage/

# Firebase
google-services.json
GoogleService-Info.plist

# Signing files (IMPORTANT - keep secure)
key.properties
*.jks
*.keystore

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Others
*.lock